.image {
    border: 2px solid black;
}

.sub {
    color: gray;
}

.link {
    color: #3E4042;
    text-decoration: none;
    transition: 0.3s;
    opacity: 0.7;
}

.link:hover {
    opacity: 1;
}

.svgs {
    transition: 0.3s;
    cursor: pointer;
    font-size: 150%;
}

.svgs:hover {
    opacity: 0.5;
}

.team_logo {
    font-size: 50px;
}